body { background: #7f6daf; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 58px; display: flex; }
.block-auth-0 { color: #c0dfd9; font-size: 15px; margin-bottom: 5px; }
.block-config-1 { color: #f1dae9; font-size: 13px; margin-bottom: 5px; }
.block-cache-2 { color: #7317bd; font-size: 14px; margin-bottom: 5px; }
.block-sms-3 { color: #a2009d; font-size: 21px; margin-bottom: 5px; }
.block-email-4 { color: #e288f6; font-size: 12px; margin-bottom: 5px; }